<html ng-app="google-chrome-vk-palyer" id="vk-player-extension-html" class="vk-player-extension-html">
	<head>
		<script type="text/javascript" src="app/lib/angular.min.js"></script>
		<script type="text/javascript" src="app/lib/jquery.min.js"></script>
		<script type="text/javascript" src="app/js/app.js"></script>
		<script type="text/javascript" src="app/js/controllers/userAudioController.js"></script>
		<script type="text/javascript" src="app/js/controllers/playerController.js"></script>
				
		<link type="text/css" rel="stylesheet" href="app/theme/css/materialze-icons.css"  media="screen,projection"/>
		<link type="text/css" rel="stylesheet" href="app/theme/css/custom.css"  media="screen,projection"/>
	</head>
	
	<body id="vk-player-extension" class="vk-player-extension" ng-controller="playerController">
		<div class="row" style="margin: 0px;">
			<div class="col s12" style="padding: 0px;">
				<div class="player">
					<div class="box" style="width: 373px;">
						<div class="controls">
							<div class="title">
								{{sound.title}}
							</div> 
							<div class="pl-actions">
								{{}}
								<i ng-class='{"hidden":player.volume==0}' class="material-icons">&#xE050;</i>
								<i ng-class='{"hidden":player.volume>0}' class="material-icons">&#xE04F;</i>
								<input type="range" min="0" max="100" step="1" ng-model="player.volume"/>
							</div>
						</div>
						<div class="controls" style="display:flex;">
							<input type="range" min="0" max="1000" step="1" ng-model="range" ng-change="rangeInFocus = true;" ng-mouseup="updateTrackPosition();"/>
							<label class="time">{{position | date:'mm:ss'}}</label>
							<div class="sd-actions">
								<i class="material-icons" ng-click="playBack();">&#xE020;</i>
								<i class="material-icons" ng-click="stopPlay();">&#xE047;</i>
								<i ng-class='{"hidden":isPlaying}' class="material-icons" ng-click="togglePlay();">&#xE037;</i>
								<i ng-class='{"hidden":!isPlaying}' class="material-icons" ng-click="togglePlay();">&#xE034;</i>
								<i class="material-icons" ng-click="playNext();">&#xE01F;</i>
							</div>
						</div>
					</div>
					<div class="box additional-action" style="width: 20px;">
						<div>
							<i class="material-icons" style="font-size: 18px; margin-left:3px;">&#xE043;</i>
						</div>
						<div>
							<i ng-class='{"active":!compactView}' class="material-icons" style="font-size: 24px;" ng-click="setViewMode()">&#xE8EF;</i>
						</div>
					</div>	
				</div>
			</div>
		</div>
	</body>
</html>