<div class="row">
	<div class="col s12" style="padding: 0px;">
		<div class="row audios">
			<div class="col s4">
				<div class="title">
					Альбоми
				</div>
				<div class="albums">
					<div class="album" ng-class='{"active":activeAlbumId==-1}' ng-click="updateAudios(-1, -1);">
						Усі композиції
					</div>
					<div ng-repeat="album in audioAlbums" class="album" ng-class='{"active":activeAlbumId=={{album.id}}}' ng-click="updateAudios(album.id);">
						{{album.title}}
					</div>
				</div>
			</div>
			<div class="col s8" style="border-left: 1px solid #808080; height:100%;">
				<div class="title">
					Композиції
				</div>
				<div class="playlist">
					<div ng-repeat="item in albumTracks" class="sound" ng-class='{"active":activeTrackId=={{item.id}}}'>
						<div class="name">
							{{item.title}}
						</div>
						<a class="play" href="{{item.url}}" download="{{item.title}}.mp3" style="margin-left: 5px;">
							<i class="material-icons">&#xE2C4;</i>
						</a>
						<div class="play" ng-click="playTrack(item.id);" ng-class='{"hidden":activeTrackId=={{item.id}}}'>
							<i class="material-icons">&#xE037;</i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>